<h2>Ceci est le profile de <%= @user.email %></h2>

<%= link_to "Editer mon compte", edit_user_registration_path %>

<% if @groupe.present? %>
<h2> Gerant le groupe <%= @groupe.name %> </h2>
<%= link_to "Cliquer ici pour modifier votre groupe", my_groupe_path %>

<% elsif @user.groupe? %>
<h2>Vous n'avez pas encorer créer votre groupe</h2>
<%= link_to "Cliquer ici pour créer votre groupe", new_groupe_path %>
<% end %> 
