<p id="notice"><%= notice %></p>

  <p>
    <strong>Last name:</strong>
    <%= @profil.last_name %>
  </p>

  <p>
    <strong>First name:</strong>
    <%= @profil.first_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= @profil.date_of_birth %>
  </p>

  <p>
    <strong>Avatar:</strong>
    <%= @profil.avatar %>
  </p>

  <p>
    <strong>Bio:</strong>
    <%= @profil.bio %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= @profil.phone_number %>
  </p>

  <%= link_to 'Edit', edit_profil_path(@profil) %> |
  <%= link_to 'Back', profils_path %>
