<div class="row">
 <div class="col-lg-3 col-md-4 col-sm-4 ">
 <% if photographer.avatar.url.present? %>
    <%= image_tag(photographer.avatar.url.to_s,width:"220", height:"277") %>
    <% elsif %>
    <img id="preview_avatar" width="220" height="277">
    <% end %>
</div>
<div class="col-lg-9 col-md-8 col-sm-8 col-xs-8 ">
    <h1><%= photographer.name%></h1>
    <div class="row">
        <div class="col-md-6">
            <p><%= photographer.name%></p>
            <p><%= photographer.type%></p>
            <p>Date de création : <%= photographer.experience%></p>
        </div>
        <div class="col-md-6"></div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p><%= photographer.description%></p>
        </div>
    </div>
</div>
</div>