  <%= bootstrap_form_for( demande, url: new_booking_path, id: 'resa') do |f| %>
  <% if demande.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@demande.errors.count, "error") %> prohibited this demande from being saved:</h2>

    <ul>
      <% demande.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


  

  <div class="input-daterange input-group" id="datepicker">
    <%= f.text_field :start_date,hide_label: true, :class => "input-sm form-control", :id =>"start"  %>

    <span class="input-group-addon">to</span>
    <%= f.text_field :end_date,hide_label: true, :class =>  "input-sm form-control", :id =>"end" %>
  </div>

  <script type="text/javascript">

   var startDate ="";
   var endDate="";
   var datesDispo = <%= raw @datesDispo %>; 
   console.log(datesDispo);

   $('.input-daterange').datepicker({
    format: 'dd/mm/yyyy',
    autoclose: true,
    language: 'fr',
    startDate: new Date(),
   // datesDisabled: <%= raw @datesPrises %>,
   beforeShowDay: function(dt){ 
            // use dt.getDay() to restrict to certain days of the week
            // or a custom function like "available" below to do more complex things
            if (available(dt)) {
              return [true, 'available'];
            } else{
              return false;
            }
          }

        });

   $('.input-daterange #start').datepicker().on("show",function(e) {
     console.log(datesDispo);

   }).on("input change", function (e) {
    startDate = e.target.value;
    $('.input-daterange #end').datepicker('setStartDate', startDate);
    $('.input-daterange #end').datepicker('update');
    $('.input-daterange #end').datepicker('show');
  });

   $('.input-daterange #end').datepicker().on("input change", function (e) {
    endDate = e.target.value;
    <% %>
  });
   function available(date) {
    dmy =  ('0' + date.getDate()).slice(-2) + '/'
    + ('0' + (date.getMonth()+1)).slice(-2) + '/'
    + date.getFullYear();
    console.log(dmy);
    if ($.inArray(dmy, datesDispo) != -1) {
      return true;
    } else {
      return false;
    }
  }

</script>
<%#= f.hidden_field :end_date, value: :start_date %>

<%= f.hidden_field :annonce_id, value: annonce.id %>

<div class="actions text-center">
  <%= f.submit "Envoyer demande de réservation", class: "btn btn-primary" %>
</div>
<% end %>



