<% content_for :sidebar do %>
<div class="col-md-2">
	<ul class="nav nav-tabs nav-stacked">
		<% Annonce.types.each do |type| %>
		<li >	<%= link_to type, sti_annonce_path(type, nil) %></li>
		<% end -%>
	</ul>
</div>
<% end %>
<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-12">
		<ul class="nav nav-tabs nav-justified">
			<% Annonce.types.each do |type| %>
			<li >	<%= link_to type, sti_annonce_path(type, nil) %></li>
			<% end -%>
		</ul>
	</div>
</div>
<div class="row">	
<div class="col-lg-12 col-md-12 col-sm-12 col-lg-offset">
		<%= render partial: 'static_pages/search_bar' %>
	</div>
</div>
<div class="row">
	<div id="content">

		<%= render 'index_list' %>


	</div>
</div>
</div>