<p id="notice"><%= notice %></p>

<ul class="nav nav-pills">
  <li id='toutes' role="presentation" > 
    <%= link_to "Toutes", {:controller => "annonces", :action => "catalogue", :type => "Annonce"} , :remote => true %>
  </li>
  <% Annonce.types.each do |type| %>
  <li id='<%= type %>' role="presentation" >
    <% libelle = "annonces.types.#{type}s".downcase %>
    <%= link_to I18n.t(libelle), {:controller => "annonces", :action => "catalogue", :type => "#{type}"} , :remote => true %>
  </li>
  <% end %>
</ul>
<div id="content">

<%= render 'index' %>

</div>
