  <%= form_for(demande, :remote => true) do |f| %>
  <% if demande.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(demande.errors.count, "error") %> prohibited this demande from being saved:</h2>

    <ul>
      <% demande.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<div class="field">
    <%= f.label :start_date %>
    <div class="input-group date">
    <%= f.text_field :start_date, :class => "data-provide" %>

      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  

    <script type="text/javascript">
    $('.data-provide').datepicker({
      format: 'dd/mm/yyyy',
      language: 'fr',
      autoclose: true,
      beforeShowDay: function(date){
       var dates = <%= raw @datesPrises %>;
       console.log(dates);
        var dateFormatted = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) +
        "/" + ((date.getMonth()+1) < 10 ? "0" + (date.getMonth()+1) : (date.getMonth()+1)) 
        + "/" + date.getFullYear();
        return dates.indexOf(dateFormatted) == -1
      }
    });
  </script>
  <%#= f.hidden_field :end_date, value: :start_date %>

  <%= f.hidden_field :groupe_id, value: groupe_id %>

  

  <div class="field">
    <%= f.label :prix %>
    <%= f.number_field :prix %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer demande de réservation", class: "btn btn-primary" %>
  </div>
  <% end %>
