

<div class="row">
  <%= bootstrap_form_for(demande, validate: false, id: 'payment-form') do |f| %>
  <% if demande.errors.any? %>
  <div id="error_explanation">
   <h2><%= pluralize(demande.errors.count, "error") %> prohibited this demande from being saved:</h2>

   <ul>
     <% demande.errors.full_messages.each do |message| %>
     <li><%= message %></li>
     <% end %>
   </ul>
   <% end %>
 </div>
 <div class="col-lg-3">
  <div class="row">
    <div class="col-md-12">
      <% if demande.annonce.avatar.url.present? %>
      <%= image_tag(demande.annonce.avatar.url(:thumb)) %>
      <% elsif %>
      <img id="preview_avatar" width="165" height="208">
      <% end %>
    </div>
  </div>
  <%= f.hidden_field :annonce_id, value: demande.annonce_id %>
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <p><%= demande.annonce.name %> </p>

        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Date de début : <%= demande.start_date %> </p>
          <%= f.hidden_field :start_date, value: demande.start_date %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p>Date de fin : <%= demande.end_date %> </p>
          <%= f.hidden_field :end_date, value: demande.end_date %>
        </div>
      </div>
    </div>
  </div>
</div>

<section>
  <div class="wizard col-lg-9">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
      <ul class="nav nav-tabs" role="tablist">

        <li role="presentation" class="active">
          <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Step 1">
            Informations
          </a>
        </li>

        <li role="presentation" class="disabled">
          <a href="#step2" data-toggle="tab" aria-controls="step2" role="tab" title="Step 2">
            Paiement
          </a>
        </li>
      </ul>
    </div>

    <div class="tab-content">
      <div class="tab-pane active" role="tabpanel" id="step1">
        <h3>Informations</h3>

        <div class="row">        

          <div class="col-lg-9">
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <%= f.label :address, class: "control-label" %>
                  <%= f.text_field :address,  class: "form-control",hide_label: true,placeholder:"address",
                  required:"" %>
                </div>
                <div class="form-group">
                 <%= f.label :description, class: "control-label" %>
                 <%= f.text_area :description,  class: "form-control",hide_label: true,placeholder:"description",
                 required:"" %>
               </div>
             </div>
           </div>
         </div>
       </div>
       <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-primary next-step"> Suivant</button></li>
      </ul>
    </div>
    <div class="tab-pane" role="tabpanel" id="step2">
      <h3>Step 2</h3>

      <span class="payment-errors"></span>

      <div class="form-row">
        <label>
          <span>Card Number</span>
          <input id="cc-number" type="tel" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>CVC</span>
          <input type="text" size="4" data-stripe="cvc"/>
        </label>
      </div>

      <div class="form-row">
        <label>
          <span>Expiration (MM/YYYY)</span>
          <input type="text" size="2" data-stripe="exp-month"/>
        </label>
        <span> / </span>
        <input type="text" size="4" data-stripe="exp-year"/>
      </div>

      <div class="actions">
      </div>


      <ul class="list-inline pull-right">
        <li><button type="button" class="btn btn-default prev-step">Précédent</button></li>
        <li><%= f.submit "Envoyer demande de réservation", class: "btn btn-primary" %></li>
      </ul>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>
</section>
</div>

