  <%= bootstrap_form_for(demande, :remote => true, validate: false) do |f| %>
  <% if demande.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(demande.errors.count, "error") %> prohibited this demande from being saved:</h2>

    <ul>
      <% demande.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>


<div class="field">
    <%= f.label :start_date %>
    <div class="input-group date">
    <%= f.text_field :start_date,hide_label: true, :class => "data-provide" %>

      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  <div class="field">
    <%= f.label :end_date %>
    <div class="input-group date">
    <%= f.text_field :end_date,hide_label: true, :class => "data-provide" %>

      <span class="input-group-addon"><i class="glyphicon glyphicon-th"></i></span>
    </div>
  </div>

  
  <%#= f.hidden_field :end_date, value: :start_date %>

  <%= f.hidden_field :annonce_id, value: annonce_id %>

  

  <div class="field">
    <%= f.label :prix %>
    <%= f.number_field :prix,hide_label: true %>
  </div>

  <div class="actions">
    <%= f.submit "Envoyer demande de réservation", class: "btn btn-primary" %>
  </div>
  <% end %>
