<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>

<p>
  <strong>Groupe:</strong>
  <%= @annonce.name %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @demande.start_date %>
</p>

<p>
  <strong>End date:</strong>
  <%= @demande.end_date %>
</p>

<p>
  <strong>Prix:</strong>
  <%= @demande.prix %>
</p>

<p>
  <strong>Statut:</strong>
  <%= @demande.statut %>
</p>
