<p id="notice"><%= notice %></p>

<h1>Groupes</h1>



<% @groupes.each_slice(3) do |groupes| %>
<div class="row">
  <% groupes.each do |groupe| %>
  <div class="col-md-3 col-md-offset-1">
    <h3><%= groupe.name%></h3>
    <%= image_tag groupe.avatar_url(:thumb) if groupe.avatar.url.present? %>
    <%= link_to  I18n.t('button.show'), groupe %>
  </div>
  <% end %>
</div>
<% end %>

<%= link_to "Index", sti_annonce_path(Annonce.types.first, nil), :remote => true %></li>


<div id="content"></div>

<br>

<%= link_to 'New Groupe', new_groupe_path %>
