<h2>Sign up</h2>

<%= nested_form_for @groupe, url: {action: "create"}, :html => {:multipart => true} do |f| %>

<div class="field">
	<%= f.label :name %>
	<%= f.text_field :name %>
</div>
<div class="field">
  <%= f.label :avatar do %>
  <%= f.file_field :avatar %>
  <%= f.hidden_field :avatar_cache %>
  <% end %>
</div>

<div class="field">
	<%= f.label :date_de_creation %>
	<%= f.date_field :date_de_creation %>
</div>

<div class="field">
	<%= f.label :genre %>
	<%= f.text_field :genre %>
</div>

<div class="field">
	<%= f.label :description %>
	<%= f.text_area :description, size: "60x12" %>
</div>


<h3>Membres: </h3>
<ul id="membres">
  <%= f.fields_for :membres do |membres_form| %>
  <li>
    <%= membres_form.label :nom %>
    <%= membres_form.text_field :nom %>

    <%= membres_form.label :instrument %>
    <%= membres_form.select(:instrument, options_for_select(Materiel.all.map(&:libelle)),prompt: true) %>

    <%= membres_form.link_to_remove "Supprimer ce membre" %>

  </li>
  <% end %>
  <p><%= f.link_to_add "Ajouter un membre", :membres, :data => { :target => "#membres" } %></p>
</ul>


<h3>Instruments: </h3>
<ul id="instruments">
  <%= f.fields_for :utilises do |materiels_form| %>
  <li>
    <%= materiels_form.collection_select(:materiel_id, Materiel.all, :id, :libelle, prompt: true)  %>
    <%= materiels_form.select(:quantite,  options_for_select(0..10)) %>

    <%= materiels_form.link_to_remove "Supprimer cet instrument." %>

  </li>
  <% end %>
  <p><%= f.link_to_add "Ajouter un membre", :utilises, :data => { :target => "#instruments" } %></p>
</ul>

<div class="actions">
	<%= f.submit "Create" %>
</div>
<% end %>

