<p id="notice"><%= notice %></p>

<div id="fiche">
	
<p>
  <strong>Groupe:</strong>
  <%= @groupe.name %>
</p>

<p>
  <strong>Date de création :</strong>
  <%= @groupe.date_de_creation %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @groupe.genre %>
</p>

<p>
  <strong>Membre(s):</strong>
  <% @membres.each do |membre| %>
  <%= render :partial => "membres/show", :locals => {:membre => membre} %>
  <% end %>
</p>


<p>
  <strong>Description:</strong>
  <%= @groupe.description %>
</p>

</div>

<div id="resa">

<% if user_signed_in? && @groupe.user_id != current_user.id%>
<%= link_to 'New demande', '#new_demande_modal', 'data-toggle' => 'modal' %>
<%end%>
<%# Bootstrap modal markup. @see: http://getbootstrap.com/javascript/#modals %>
<div class="modal fade" id="new_demande_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Create new person</h4>
      </div>
      <div class="modal-body">
        <%# Render the new person form (passing modal => true to enable remote => true) %>
        <%= render 'demandes/form', :demande => Demande.new, groupe_id: @groupe.id,  modal: true %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</div>

<%= link_to 'Back', groupes_path %>
