
<p id="notice"><%= notice %></p>

<div id="fiche">
	
<p>
  <strong>Groupe:</strong>
  <%= @groupe.name %>
</p>

<p>
  <strong>Date de création :</strong>
  <%= @groupe.date_de_creation %>
</p>

<%= image_tag @groupe.avatar.url if @groupe.avatar.url.present? %>


<p>
  <strong>Genre:</strong>
  <%= @groupe.genre %>
</p>

<p>
  <strong>Membre(s):</strong>
  <% @membres.each do |membre| %>
  <%= render :partial => "membres/show", :locals => {:membre => membre} %>
  <% end %>
</p>


<p>
  <strong>Description:</strong>
  <%= @groupe.description %>
</p>

  <%= render :partial => "demandes/new", :locals => {:groupe => @groupe, :datesPrises => @datesPrises} %>


<%= link_to 'Back', groupes_path %>
